{
  "name": "{{npmScope}}/{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Generated Swagger client for {{npmName}}",
  "main": "bundles/{{npmName}}.umd.js",
  "module": "index.js",
  "typings": "index.d.ts",
  "keywords": [
    "angular2",
    "{{serviceName}}",
    "{{npmScope}}",
    "service",
    "rest"
  ],
  "author": "{{npmAuthor}}",
  "license": "{{npmLicense}}",
  "peerDependencies": {
    "@angular/core": "^2.4.0",
    "@angular/common": "^2.4.0",
    "@angular/http": "^2.4.0",
    "reflect-metadata": "^0.1.8",
    "rxjs": "^5.0.1",
    "zone.js": "^0.7.2",
    "class-transformer": "^0.1.3"
  }
}